@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.header {
  background-color: #ff6b01;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header_image {
  width: 100%;
  max-width: 1200px;
}

.header_title {
  font-family: "Press Start 2P", cursive;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
  margin: 1.5rem 0;
  text-shadow: 3px 3px 0px #ef3b0a;
}

@media (min-width: 576px) {
  .header_title {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .header_title {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    text-shadow: 3px 5px 0px #ef3b0a;
  }
}

@media (min-width: 992px) {
  .header {
    background-color: #ff6b01;
  }

  .header_image {
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .header_title {
    font-size: 3rem;
    text-shadow: 3px 8px 0px #ef3b0a;
  }
}

@media (min-width: 1400px) {
  .header_title {
    font-size: 4rem;
    text-shadow: 3px 8px 0px #ef3b0a;
  }
}
